* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: K2D;
    src: url("./fonts/K2D-Regular.ttf");
}

body {
    background-color: #00001C;
    font-family: 'K2D';
    background-image: url("./bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.blur
{
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(100%);
}

.flexrow {
    display: flex;
    flex-direction: row;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.searchItemContainer {
    margin-top: 10vh;
    margin-left: 2vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column: 1;
    background: rgba(1, 1, 1, 0.94);
    height: 650px;
    min-width: 650px;
    border-radius: 19px;
}

.searchItemImgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 3;
}

.NiveautypeContainer {
    margin-top: 20px;
}

.searchItemImg {
    border-radius: 5px;
    height: 50%;
    background: #676767;
}

.searchItemInfoContainer {
    margin-top: 50px;
    margin-left: 50px;
    color: white;
    grid-column: 1/3;
}


.searchItemName {
    font-size: 2em;
}

.searchItemNiveauContainer {
    font-size: 25px;
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.searchItemNiveau {}

.searchItemTypeContainer {
    margin-left: 50px;
    font-size: 25px;
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.searchItemElements {
    margin: 10px;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 17px;
    min-height: 0;
    /* NEW */
    min-width: 0;
}

.elementsImgContainer {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.searchElementImg {
    height: 4em;
    width: 4em;
    border-radius: 5px;
    overflow: hidden;
    /* NEW */
    min-width: 0;
}

.bonusElements {
    height: 4em;
    width: 4em;
    background: rgba(128, 255, 134, 0.705);
    border-radius: 5px;
    overflow: hidden;
    /* NEW */
    min-width: 0;
}

.malusElements {}

.infoElement {
    overflow: hidden;
    min-width: 0;
}


.searchZone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 2/4;
    margin-left: 10vw;
}

.searchbarContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchbar {
    height: 45px;
    width: 300px;
    border: none;
    background: rgba(18, 15, 12, 0.8);
    border-radius: 2px;
    color: white;
    font-size: 20px;
    padding-left: 10px;
}

.searchbarImg {
    height: 60px;
    width: 60px;
}

.searchbarImg:hover {
    cursor: pointer;
    scale: 1.2;
}

.suggestionContainer {
    width: 360px;
    max-height: 300px;
    overflow: scroll;
    position: absolute;
    scrollbar-width: none;
    z-index: 5;
}

.suggestionContainer::-webkit-scrollbar {
    display: none;
}

.suggestion {
    color: white;
    background: rgba(18, 15, 12, 0.329);
    display: flex;
    align-items: center;
    word-wrap: break-word;
    border-bottom: solid 1px black;
}

.tryContainer {
    height: auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.try {
    position: relative;
    width: 65%;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #120F0C;
}

.arrow {
    font-size: 30px;
}

.tryItemImg {
    margin: 5px;
    width: 5em;
    height: 5em;
}

.tryInfoContainer {
    margin-left: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tryNiveau {
    border-radius: 5px;
    width: 5em;
    height: 5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tryType {
    border-radius: 5px;
    display: flex;
    width: 5em;
    height: 5em;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title {
    color: white;
    position: relative;
    font-size: 100px;
}

.tryElementContainer {
    margin-left: 10px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.red {
    background: rgba(245, 43, 43, 0.767);
}

.green {
    background: rgba(128, 255, 134, 0.705);
}

.alt {
    background-color: blue;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
}

.tryElementImg {
    width: 3em;
    border-radius: 5px;
}

.display {
    z-index: 5;
    display: block
}

.tryElementImg:hover~div {

    display: block;
    background-color: aliceblue;
}